__This assignment helps in understanding the following concepts__<br>
-> Identifying and changing the working directory<br>
-> Creating and renaming a text %%file<br>
-> Working with Docx file<br>
-> Working with Pandas module<br>

__1.Write code snippetsin python to perform the following tasks__<br>•Print your current working directory<br>•Create a new directory on your desktop named: “Text Mining and NLP”<br>•Make “Text Mining and NLP” your current working directory

In [1]:
import os
os.getcwd()

'/Users/sagar/Desktop/EDUREKA/Python/NLP/Assignments'

In [2]:
os.chdir('/Users/sagar/Desktop/EDUREKA/Python/NLP/Assignments/Text Mining and NLP')

In [3]:
os.getcwd()

'/Users/sagar/Desktop/EDUREKA/Python/NLP/Assignments/Text Mining and NLP'

2.Write code snippets in python to performthe following tasks:•Create a text file named “Greetings.txt” and write “Welcome toText Mining and Natural Language Processing”•Move thisfile to the folder “Text Mining and NLP” which you created in ques 1•Rename this file to “Welcome.txt”

__Create a text file named “Greetings.txt__

Greetings = "Welcome to Text Mining and Natural Language Processing"

__Move thisfile to the folder “Text Mining and NLP” which you created in ques 1__

In [26]:
with open('Greetings.txt','w') as file:
    file.write(Greetings)

__•Rename this file to “Welcome.txt”__

In [27]:
os.rename('/Users/sagar/Desktop/EDUREKA/Python/NLP/Assignments/Text Mining and NLP/Greetings.txt','/Users/sagar/Desktop/EDUREKA/Python/NLP/Assignments/Text Mining and NLP/Welcome.txt')

In [36]:
with open('Welcome.txt','r') as file:
    Welcome = file.read()
    print(Welcome)

Welcome to Text Mining and Natural Language Processing

__3.You are given a docx file named “NLP.docx”. Perform the following tasks:•Use DOCXmodule to open the file and perform the following tasks:•How many paragraphs are there in the file?•For each paragraph, print the number of words it contains•Read the content from “Welcome.txt” file which you created in question number 2 and make that content the first paragraph in “NLP.docx” file__

In [37]:
import docx

In [39]:
doc = docx.Document('NLP.docx')
len(doc.paragraphs)

26

__For each paragraph, print the number of words it contains__

In [75]:
for i in range(0,26):
    print(f"\nThe number of words in paragraph {i}: {len(doc.paragraphs[i].text)} ")

The number of words in paragraph 0: 500

The number of words in paragraph 1: 355

The number of words in paragraph 2: 755

The number of words in paragraph 3: 170

The number of words in paragraph 4: 41

The number of words in paragraph 5: 445

The number of words in paragraph 6: 273

The number of words in paragraph 7: 419

The number of words in paragraph 8: 301

The number of words in paragraph 9: 316

The number of words in paragraph 10: 55

The number of words in paragraph 11: 396

The number of words in paragraph 12: 248

The number of words in paragraph 13: 522

The number of words in paragraph 14: 585

The number of words in paragraph 15: 43

The number of words in paragraph 16: 325

The number of words in paragraph 17: 652

The number of words in paragraph 18: 226

The number of words in paragraph 19: 362

The number of words in paragraph 20: 369

The number of words in paragraph 21: 42

The number of words in paragraph 22: 515

The number of words in paragraph 23: 554

The number of words in paragraph 24: 433

The number of words in paragraph 25: 396

__Read the content from “Welcome.txt” file which you created in question number 2 and make that content the first paragraph in “NLP.docx” file__

In [76]:
Welcome

'Welcome to Text Mining and Natural Language Processing'

In [79]:
doc.paragraphs[0].text = Welcome

In [83]:
doc.paragraphs[0].text

'Welcome to Text Mining and Natural Language Processing'

In [86]:
doc.paragraphs[1].text

'The\xa0Economist\xa0states, that this paradigm has shifted language technology from usable at a pinch to really rather good”. So, when Barclays, a British bank, offered an identification using a user’s voice and NLP, 84 percent of the users signed up within five months, indicating that consumers are jumping on the bandwagon and wanting more benefits from NLP.'

__4.You are given a csv file named “EmployeeDetails.csv”. Perform the following tasks:•Use pandas module to read the csv file__

In [87]:
import pandas as pd

In [89]:
ed = pd.read_csv('EmployeeDetails.csv')
ed.head()

             Name   Age  Salary
0     Arjun singh    24   10000
1       Vibhor Jha   26   25000
2  Yoshita Debnath   23   15000
3   Abhitesh Setia   25   18000
4    Shaurya Nayar   26   30000

In [99]:
ed.columns

Index(['Name ', 'Age', 'Salary'], dtype='object')

In [101]:
ed['First Name'] = ed['Name '].str.split(" ").str.get(0)
ed['Last Name'] = ed['Name '].str.split(" ").str.get(1)
ed.head()

             Name   Age  Salary First Name Last Name
0     Arjun singh    24   10000      Arjun     singh
1       Vibhor Jha   26   25000     Vibhor       Jha
2  Yoshita Debnath   23   15000    Yoshita   Debnath
3   Abhitesh Setia   25   18000   Abhitesh     Setia
4    Shaurya Nayar   26   30000    Shaurya     Nayar

In [ ]:
ed.drop('Name ',axis = 1,inplace = True)

In [110]:
ed['Salary'] = ed['Salary'] + (ed['Salary'] * 0.01 )

In [111]:
ed.head()

   Age   Salary First Name Last Name
0   24  10100.0      Arjun     singh
1   26  25250.0     Vibhor       Jha
2   23  15150.0    Yoshita   Debnath
3   25  18180.0   Abhitesh     Setia
4   26  30300.0    Shaurya     Nayar

In [112]:
ed.to_csv('Employee_Data.csv')